<a href="https://colab.research.google.com/github/Parteche/Bedu-Padams/blob/master/modulo2_Michel_Pau.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#importamos pandas
import pandas as pd
#importamos numpys
import numpy as np

In [24]:
#Importamos la base de datos CSV
df = pd.read_csv('/content/drive/MyDrive/Books_Data_Clean.csv')

In [25]:
#Metodo para ver las 5 primeras filas de la base de datos
df.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [20]:
#Queremos saber que tipo de columnas tenemos:
df.dtypes

index                    int64
Publishing Year        float64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [26]:
#La columna Publishing Year tiene tipo de dato float64 es decir decimal y deberia ser int64 osea entero
#Con el metodo .astype() cambiamos el tipo de dato y con el metodo .fillna() logramos que no nos afecte
#los registros que tienen NA
df['Publishing Year'] = df['Publishing Year'].fillna(0).astype('int64')
#Checamos de nuevo nuestros tipos de datos para confirmar que si cambio el tipo de dato de la columna 'Publishing Year'
print(df.dtypes)

index                    int64
Publishing Year          int64
Book Name               object
Author                  object
language_code           object
Author_Rating           object
Book_average_rating    float64
Book_ratings_count       int64
genre                   object
gross sales            float64
publisher revenue      float64
sale price             float64
sales rank               int64
Publisher               object
units sold               int64
dtype: object

In [27]:
#Checamos de nuevo los primeros 5 registros de nuestra base de datos
df.head()
#Ahora si la columna de 'Publishing Year' tiene un formato adecuado

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

Breve explicacion de lo que contiene cada columna:

Book name: El titulo del libro

Author: El nombre del autor

Lenguage_code: El idioma en que esta escrito el libro

Author_Rating: Calificacion del autor por sus obras anteriores

Book_average_rating: El promedio de rating calificado por los lectores

Book_ratings_count: El numero de ratings que los lectores dieron al libro

genre: El genero o categoria del libro

gross sales: El total de ganancias de ventas de cada libro

publisher revenue: Los ingresos obtenidos por los editores por la venta de cada libro

sale price: El precio en que se vende cada libro

sales rank: Valor numerico que indica la clasificacion de un libro en funcion de su rendimiento en ventas dentro de su propia categoria

units sold: Numero total de copias vendidas

Criterios que tomaremos en cuenta para la limpieza de nuestros datos:

In [28]:
#Datos faltantes
#Verificar valores nulos en todas las columnas:
print(df.isnull().sum())
#El resultado nos arrija que la columna Book Name tiene 23 registros nulos y la columna language_code tiene 53

index                   0
Publishing Year         0
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [29]:
#Usaremos el metodo .info() para tener mas informacion sobre nuestra base de datos
df.info()
#Vemos que nuestra base de datos tiene 1070 filas y 15 columnas, por lo que valdria la pena eliminar los
#registros nulos, ya que tenemos suficientes datos para seguir trabajando

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1070 non-null   int64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 125.5+ KB

In [30]:
#Eliminando registros nulos
df.dropna(inplace=True)
#Verificamos de nuevo registros nulos
print(df.isnull().sum())
#Los resultados son favorables, cada vez tenemos una base de datos mas limpia

index                  0
Publishing Year        0
Book Name              0
Author                 0
language_code          0
Author_Rating          0
Book_average_rating    0
Book_ratings_count     0
genre                  0
gross sales            0
publisher revenue      0
sale price             0
sales rank             0
Publisher              0
units sold             0
dtype: int64